/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}
.item {
  padding: 1em;
}
@media only screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 100%;
  }
  .item {
    max-width: 100%;
    padding: 0.5em;
  }
}
mat-card {
  margin-bottom: 1em;
}
